.header{
    background: url("../../img/personal/bg.png") no-repeat top center;
    background-size: 100% 100%;
}
.headHeight{
    height: 360px;
}
.head{
    width: 1200px;
    height: 80px;
}
.persearch{
    width: 320px;
    height: 40px;
    background: #ffffff00;
    padding: 10px 16px 10px 40px;
    border: 1px #ffffff solid;
    outline:none;
    color:#ffffff;
}
.persearchi {
    position: absolute;
    left: 12px;
    font-size: 18px;
    color: #FFFFFF;
}
.persearch:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ffffff;
}

.persearch:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ffffff;
}

.persearch::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ffffff;
}
.bar{
    border-left: 1px #ffffff solid;
    height: 40px;
}
.icon{
    font-size: 18px;
}
.editBg{
    width: 160px;
    height: 26px;
    border-radius: 100px;
    border: 1px #ffffff90 solid;
    color: #FFFFFF90;
    text-align: center;
    position: absolute;
    z-index:1;
    bottom: 10px;
    right: 0px;
}
.box{
    width: 1200px;
    margin-top: -180px;
    z-index: 2;
}
.left{
    background: #FFFFFF;
    box-shadow: 0px -6px 30px rgba(45, 55, 89, 0.08), 0px 10px 30px rgba(45, 55, 89, 0.1);
    height: fit-content
}
.leftMenu{
   line-height: 68px;
    color: #3B5266;
}
.leftMenuActive{
    background: #7B929B !important;
    color: #FFFFFF !important;
}
.leftMenu a{
    color: #fff;
}
.leftMenu a:hover{
    color: #fff;
}
.right{
    padding-left: 40px;
}
.bgstyle{
    box-shadow: 0px -6px 30px rgba(45, 55, 89, 0.08), 0px 10px 30px rgba(45, 55, 89, 0.1);
    margin-bottom: 50px;
}
.perMenuOpen{
    width: 330px;
    color:#7B929B;
    font-size: 12px;
    left: -292px;
    top: 36px;
    z-index:3;
    display: none;
}
.perMenuOpen a{
    color:#7B929B;
}
.perMenuOpen a:hover{
    color:#5e747c;
}
.listSort{
    font-size: 26px;
    color: #C2D1D9;
}
.read{
    width: 8px;
    height: 8px;
    background: #ED4C0A;
    display: block;
    border-radius: 100%;
}
.Upgrade{
    border-radius: 10px;
    border: 1px #424B5A solid;
    color: #424B5A;
}
.upgradeBox{
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #D1DCE0;
    border-radius: 4px;
    width: 98%;
    bottom: 8px;
    left: 1%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice{
    width: 330px;
    left: -297px;
    top: 36px;
    z-index:3;
    display: none;
    box-shadow: 2px 2px 6px rgba(65, 84, 123, 0.1);
    background: #FFFFFF;
}
.notifications{
    background: #F4F7FC;
}
.iconbg{
    background: #FCF7F0;
    border-radius: 100%;
    width: 32px;
    height: 32px;
}
.text-blue{
    color: #438ADF;
}
.redBadge{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #D7490F;
    right: 0px;
    top: 0px;
}
.sendLink a{
    color: #FFFFFF;
}
.sendLink a:hover{
    color: #FFFFFF;
}
.listSortMenu{
    top: 10px;
    left: 30px;
    width: 140px;
    font-size: 16px;
    background: #fff;
    color: #000000;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #00000030;
    font-style: normal;
    display: none;
}
.listSortMenu span{
    width: 100%;
}